# Exclude the build directory
build/*
examples/FilterShowcase/build*
 
# Exclude temp nibs and swap files
*~.nib
*.swp
 
# Exclude OS X folder attributes
.DS_Store
.svn
 
# Exclude user-specific Xcode files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Documentation
documentation/*

# Carthage
Carthage/Build

# Swift Package
.swiftpm
Packages
.build/
DerivedData/

# Visual Studio Code
.vscode